.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.nupp {
  background: #00ffbf;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}
